{% extends 'base.html' %}
{% load static %}


{% block content %}
    <center>
    <h3>{{ user.username|title }}</h3>
    <p>{{ user.profile.bio }}</p>
    <p>{{ user.profile.age }} <small>years old</small></p>
    {% if request.user.id == user.id %}   <!--Anyone who wants to see this section must be the owner of this profile-->
        <a href="{% url 'post:add_post' user.id %}" class='btn btn-info'>Add Post</a>
        <a href="{% url 'account:edit_profile' user.id %}" class='btn btn-secondary'>Edit Profile</a><br><br>
    {% endif %}
    {% if request.user.is_authenticated and rel %}
        <button data-id="{{ user.id }}" id='btn_followiing' class='btn btn-danger'>unfollow</button>
    {% elif request.user.is_authenticated and request.user.id != user.id %}
        <button data-id="{{ user.id }}" id='btn_followiing' class='btn btn-primary'>follow</button>
    {% endif %}
    </center>

    <br><br>
    <h6>User Posts</h6>
    <center>
    {% for post in posts %}
        <hr>
        <a href="{{ post.get_absolute_url }}"><h5 class="card-title">{{ post.body|slice:":30" }}...</h5></a>
    {% endfor %}
    </center>
{% endblock %}


{% block myJs %}
    <script src="{% static 'account/js/main.js' %}"></script>
{% endblock %}

